<!DOCTYPE html>
<html lang="en">
  <head>
      <title> Northwind Sales Team</title>

      <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" />
      <link href="/stylesheets/styles.css" rel="stylesheet" />

      <script src="/angular/angular.js"></script>
      <script src="/js/app.js"></script>
      <script src="/js/salesteam_factory.js"></script>
      <script src="/js/salesteam_controller.js"></script>

  </head>

  <body ng-app="nwind_salesteam">
    <div class="container" ng-controller="SalesTeamController">
      <h2>Northwind Sales Team</h2>

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Add New Team Member</div>
          <div class="form-group panel-body" role="form">
              <input class="form-control" type="text" ng-model="inputModel.name" placeholder="Name">
              <br/><span ng-repeat="(region, active) in regions"><button class="btn" ng-class="{'btn-primary': active,'btn-secondary': !active}" ng-click="toggleRegion(region)">{{ region }} </button></span>

              <br/><button type="submit" class="btn btn-primary" ng-click="add()" ng-disabled="!inputModel.name" >Save</button>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6" ng-repeat="salesman in salesTeam">
            <div class="panel panel-default" ng-class="{'panel-danger': getActive(salesman.regions)==0, 'panel-success': getActive(salesman.regions)>=3}">
              <div class="panel-heading">{{ salesman.name }}
                <span ng-hide="getActive(salesman.regions)>0"><button class="btn btn-danger btn-xs pull-right" ng-click="deleteMember(salesman._id)">Delete</button></span><p/>
              </div>
                <div class="panel-body">
                  <br/><span ng-repeat="(region, active) in salesman.regions" ><button class="btn" ng-class="{'btn-primary': active,'btn-secondary': !active}" ng-disabled="getActive(salesman.regions)>2 && !active" ng-click="toggleRegionMember(salesman._id, region)"> {{ region }} </button></span>
                </div
            </div>
          </div>

        </div>

      </div>

  </body>


</html>
